@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/src/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

.social-links {
    /* @apply hover:drop-shadow-[0_10px_10px_rgba(0, 0, 0, 0.70)] */
    @apply transition-all hover:scale-125
}

.nav-bar-menu-item {
    @apply text-white hover:bg-indigo-800 rounded-full px-5 py-2 text-xl
}

.skill-item {
    @apply flex w-full justify-start space-x-4 items-center rounded-lg bg-transparent hover:bg-indigo-100 transition-colors duration-300 ease-in-out px-2 py-2 cursor-pointer
}

.menu-item {
    @apply bg-transparent hover:bg-indigo-800 transition-all duration-500 ease-in-out rounded-full px-5 py-2 text-xl text-white cursor-pointer
}

.menu-list-item {
    @apply rounded-full p-4 bg-transparent hover:bg-indigo-800 transition-all duration-500 ease-in-out lg:text-2xl ssm:text-xl font-sans text-white cursor-pointer
}

.tag-badges {
    @apply text-center rounded-2xl bg-slate-200 hover:bg-slate-500 text-slate-500 hover:text-slate-200 transition-colors duration-300 ease-in-out text-base px-2 py-1
}

.dynamic-fill-color {
    @apply text-white dark:text-slate-400 hover:text-blue-300 dark:hover:text-white transition-colors duration-500 ease-in-out
}

.dynamic-fill-color-2 {
    @apply text-slate-600 dark:text-slate-400 hover:text-blue-500 dark:hover:text-white transition-colors duration-500 ease-in-out
}

.card {
    @apply bg-white rounded-3xl p-10 drop-shadow-2xl text-gray-800
}

.project-card {
    @apply flex bg-white rounded-3xl justify-start items-start
}

hr {
    height: 1px;
    background: linear-gradient(to right, #dddddd, rgba(255, 255, 255, 0));
    border: none;
}

.sections-title {
    @apply lg:text-5xl ssm:text-3xl font-bold text-gray-700 text-center mb-10
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeInUp {
    animation: fadeInUp 1s ease-out forwards;
}

/* .hover-trigger:hover {
    /*height: calc(100% + 2.5rem); /* Altura original del card más la altura de la barra 
    padding-bottom: 3rem;
  } */

.hover-trigger:hover .hover-target {
    /* transform: scale(1.25); */
    @apply scale-125 -translate-x-2 -translate-y-2
}

.hover-trigger:hover .hover-bottom-bar-target {
    height: 2.5rem;
    /* Ajusta la altura según tus necesidades */
}

.hover-trigger:hover .tag-title {
    @apply transition-opacity hover:opacity-100
}

@keyframes fadeInUpRight {
    from {
        opacity: 0;
        transform: translateY(30px) translateX(-50px);
    }

    to {
        opacity: 0.6;
        transform: translateY(0) translateX(0);
    }
}

.rocket {
    animation: fadeInUpRight 1s ease-out infinite;
}

.navbar-items-icon {
    @apply my-auto bg-transparent hover:bg-indigo-800 transition-all duration-500 ease-in-out rounded-full p-1 text-xl text-white cursor-pointer
}